html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* rubik-300 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v28-cyrillic-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-regular - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v28-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/rubik-v28-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-900 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v28-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/* montserrat-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v29-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v29-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* exo-2-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/exo-2-v24-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  :root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Exo 2", sans-serif;
  }


  *, *::before, *::after {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  body {
    font-family: var(--font-family);
  }


  .hangar {
    background: url('./images/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 212px 0 100px 0;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 26%, 0 0);

  }

  .hangar h1 {
    font-weight: 800;
    font-size: 143px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }

  .hangar h6 {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fec34a;
    line-height: 130%;
    margin-bottom: 50px;
  }

  .hangar-flex {
    display: flex;
    gap: 42px;
  }

  .hangar-flex-item {
    display: flex;
    gap: 16px;
  }

  .hangar-flex p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }

.hangar-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hangar-form-cont {
    border-radius: 8px;
    padding: 42px;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
    background: #fff;
    position: relative;
}

.hangar-form-cont h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #121212;
    margin-bottom: 12px;
}

.hangar-form-cont form div {
    display: flex;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 14px 16px;
    background: #fff;
    gap: 8px;
    margin-bottom: 12px;
}

.hangar-form-cont form input {
    border: none;
    outline: none;
}

.hangar-form-cont form input,
.hangar-form-cont form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 168%;
    color: #6b7280;
}

.hangar-form-cont form p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #121212;
    margin-bottom: 12px;
}

.hangar-form-cont form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background: linear-gradient(90deg, #ffcd67 0%, #fdad3b 100%);
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 20px;
}

.download-pdf {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
}

.download-pdf p {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
}

.hangar-form-cont > :last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
    text-align: center;
}


.hero-fly {
    position: absolute;
    top: -120px;
    transform: translateX(50%);
}

.green {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #5AA02C;
    padding-top: 690px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 26%, 0 0);
}

.swiper-projects {
    overflow-x: hidden;
}

.main-slider img,
.thumb-slider img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.project {
    display: flex;
    align-items: center;
    gap: 53px;
}

.swiper-container,
.thumb-slider  {
    overflow-x: hidden;
}

.project-info {
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
    background: #fff;
    position: relative;
    left: -15%;
    z-index: 99;
    width: 120%;
}

.project-info h6 {
    font-weight: 700;
    font-size: 18px;
    color: #121212;
    margin-bottom: 23px;
}

.project-info-content > :not(:last-child) {
    border-bottom: 1.50px dashed #c3c6c0;
}

.project-info-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.project-info-content div > :first-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #bdbdbd;
}

.project-info-content div > :last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #121212;
}

.project-info-date {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 5px;
}

.project-info-date > :first-child {
    font-weight: 700;
    font-size: 48px;
    color: #5aa02c;
}

.project-info-date > :last-child {
    font-weight: 700;
    font-size: 18px;
    color: #5aa02c;
}








.swiper-container {
    width: 100%;
    height: auto;
}

.main-slider {
    width: 100%;
    max-width: 618px;
}

.thumb-slider .swiper-slide {
    width: 25%;
    cursor: pointer;
    opacity: 0.3;
    max-width: 199px;
    max-height: 99px;
}

.thumb-slider {
    width: 100%;
    margin-top: 10px;
    max-width: 618px;
}



.thumb-slider .swiper-slide-thumb-active {
    opacity: 1;
}














/* employees start */

.employees {
  margin-top: 81px;
}

.employees h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 38px;
}

.swiper-employees img {
  width: 100%;
  max-width: 158px;
}

.employees-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.swiper-employees h6 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #121212;
  margin-bottom: 6px;
}

.employees-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #c3c6c0;
}

.employees-info {
  padding-bottom: 25px;
  border-bottom: 1.50px dashed #c3c6c0;
  margin-bottom: 25px;
}

.employees-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #121212;
}

/* employees end */












/* g-form start */

.g-form-cont {
  background: url('./images/bg-form.png'),
              linear-gradient(90deg, #5aa02c 0%, #7ab652 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 30px 38px 26px;
  border-radius: 8px;
  display: flex;
  gap: 30px;
}

.g-form-cont h3 {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  flex: 1;
}

.g-form-cont > :last-child {
  flex: 2;
}

.g-form-cont form {
  display: flex;
  gap: 18px;
}

.g-form-cont form > :first-child,
.g-form-cont form > :nth-child(2) {
  flex: 1;
}

.g-form-block {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 9px;
}

.g-form-block input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.g-form-block input, .g-form-block input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #fff;
}

.g-form-block input::placeholder {
  opacity: 0.5;
}

.g-form-button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: #fec34a;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  padding: 11px;
}

.pol {
  display: flex;
  margin-top: 24px;
  gap: 12px;
}

.pol p {
  font-weight: 500;
  font-size: 12px;
  line-height: 147%;
  color: #fff;
}

.pol p a {
  text-decoration: none;
  color: #fec34a;
}

.g-form {
  margin-top: 81px;
}

/* g-form end */












/* rev start */

.rev {
  margin-top: 80px;
}

.rev-cont {
  padding-bottom: 80px;
  border-bottom: 1.50px dashed #c3c6c0;
}

.rev-cont h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 38px;
}

.rev-cont-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.rev-cont-flex div {
  flex: 1;
}

.rev-cont-flex img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* rev rev */









/* contacts start */

.contacts {
  margin-top: 81px;
}

.contacts-cont h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 39px;
}

.contacts-abs {
  box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
  background: #fff;
  position: absolute;
  top: 71px;
  left: 71px;
  padding: 18px 24px;
  border-radius: 8px;
}

.contacts-abs div {
  display: flex;
  align-items: center;
  gap: 11px;
}

.contacts-abs a,
.contacts-abs p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #121212;
  text-decoration: none;
}

.contacts-abs > :not(:last-child) {
  margin-bottom: 24px;
}

.ling-g {
  color: #5aa02c!important;
}

/* contacts end */









/* form-bottom start */

.form-bottom-cont {
  display: flex;
  justify-content: space-between;
}

.form-bottom-cont h2 {
  flex: 1;
  font-weight: 700;
  font-size: 34px;
  color: #121212;
}

.form-bottom-cont > :last-child {
  flex: 2;
}

.form-bottom-cont form {
  display: flex;
  align-items: center;
  gap: 18px;
}

.form-bottom-cont form > :first-child,
.form-bottom-cont form > :nth-child(2) {
  flex: 2;
}

.form-bottom-cont form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #121212;
  width: 100%;
}

.form-bottom-cont form div {
  border: 1px solid #aeaeb2;
  border-radius: 8px;
  padding: 8px;
}

.form-bottom-cont form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #aeaeb2;
  opacity: 0.5;
}

.pol-2 p {
  color: #aeaeb2;
}

.form-bottom {
  margin: 81px 0;
}

/* form-bottom end */






/* footer start */

footer {
  background: #121212;
  padding: 24px 0;
}


.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-cont > :first-child,
.footer-cont > :nth-child(2),
.footer-cont > :nth-child(3) {
  flex: 1;
}

.footer-cont p {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 11px;
  color: #fff;
}

.footer-cont > :nth-child(2) a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.footer-cont > :nth-child(2) {
  display: flex;
  justify-content: center;
  
}

.footer-cont > :nth-child(3) {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: flex-end;
}

/* footer end */