html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* rubik-300 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v28-cyrillic-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-regular - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v28-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/rubik-v28-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-900 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v28-cyrillic-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/* montserrat-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v29-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v29-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v29-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* exo-2-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/exo-2-v24-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




  :root {
    --font-family: "Rubik", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Exo 2", sans-serif;
  }


  *, *::before, *::after {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  body {
    font-family: var(--font-family);
  }


  .hangar {
    background: url('./images/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 212px 20px 100px 20px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 26%, 0 0);

  }

  .hangar h1 {
    font-weight: 800;
    font-size: 143px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }

  .hangar h6 {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fec34a;
    line-height: 130%;
    margin-bottom: 50px;
  }

  .hangar-flex {
    display: flex;
    gap: 42px;
  }

  .hangar-flex-item {
    display: flex;
    gap: 16px;
  }

  .hangar-flex p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }

.hangar-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}

.present {
  position: absolute;
  top: 30px;
  right: 370px;
}

.hangar-form-cont {
    border-radius: 8px;
    padding: 42px;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
    background: #fff;
    position: relative;
}

.hangar-form-cont h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #121212;
    margin-bottom: 12px;
}

.hangar-form-cont form div {
    display: flex;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 14px 16px;
    background: #fff;
    gap: 8px;
    margin-bottom: 12px;
}

.hangar-form-cont form input {
    border: none;
    outline: none;
}

.hangar-form-cont form input,
.hangar-form-cont form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 168%;
    color: #6b7280;
}

.hangar-form-cont form p {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #121212;
    margin-bottom: 12px;
}

.hangar-form-cont form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background: linear-gradient(90deg, #ffcd67 0%, #fdad3b 100%);
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 20px;
}

.download-pdf {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
}

.download-pdf p {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
}

.hangar-form-cont > :last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
    text-align: center;
}


.hero-fly {
    position: absolute;
    top: -120px;
    transform: translateX(50%);
}

.green {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #5AA02C;
    padding-top: 690px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 26%, 0 0);
}

.swiper-projects {
    overflow-x: hidden;
}

.main-slider img,
.thumb-slider img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.project {
    display: flex;
    align-items: center;
    gap: 53px;
}

.swiper-container,
.thumb-slider  {
    overflow-x: hidden;
}

.project-info {
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
    background: #fff;
    position: relative;
    left: -15%;
    z-index: 99;
    width: 120%;
}

.project-info h6 {
    font-weight: 700;
    font-size: 18px;
    color: #121212;
    margin-bottom: 23px;
}

.project-info-content > :not(:last-child) {
    border-bottom: 1.50px dashed #c3c6c0;
}

.project-info-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.project-info-content div > :first-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #bdbdbd;
}

.project-info-content div > :last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #121212;
}

.project-info-date {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 5px;
}

.project-info-date > :first-child {
    font-weight: 700;
    font-size: 48px;
    color: #5aa02c;
}

.project-info-date > :last-child {
    font-weight: 700;
    font-size: 18px;
    color: #5aa02c;
}








.swiper-container {
    width: 100%;
    height: auto;
}

.main-slider {
    width: 100%;
    max-width: 618px;
}

.thumb-slider .swiper-slide {
    width: 25%;
    cursor: pointer;
    opacity: 0.3;
    max-width: 199px;
    max-height: 99px;
}

.thumb-slider {
    width: 100%;
    margin-top: 10px;
    max-width: 618px;
}



.thumb-slider .swiper-slide-thumb-active {
    opacity: 1;
}














/* employees start */

.employees {
  margin-top: 81px;
  padding: 0 20px!important;
}

.employees h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 38px;
}

.swiper-employees img {
  width: 100%;
  max-width: 158px;
}

.employees-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.swiper-employees {
  overflow-x: hidden;
}

.swiper-employees h6 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #121212;
  margin-bottom: 6px;
}

.employees-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #c3c6c0;
}

.employees-info {
  padding-bottom: 25px;
  border-bottom: 1.50px dashed #c3c6c0;
  margin-bottom: 25px;
}

.employees-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #121212;
}

/* employees end */












/* g-form start */

.g-form-cont {
  background: url('./images/bg-form.png'),
              linear-gradient(90deg, #5aa02c 0%, #7ab652 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 30px 38px 26px;
  border-radius: 8px;
  display: flex;
  gap: 30px;
}

.g-form-cont h3 {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  flex: 1;
}

.g-form-cont > :last-child {
  flex: 2;
}

.g-form-cont form {
  display: flex;
  gap: 18px;
}

.g-form-cont form > :first-child {
  flex: 2.3;
}

.g-form-cont form > :nth-child(2) {
  flex: 1;
}

.g-form-block {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 9px;
}

.g-form-block input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}

.g-form-block input, .g-form-block input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #fff;
}

.g-form-block input::placeholder {
  opacity: 0.5;
}

.g-form-button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: #fec34a;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  padding: 11px;
}

.pol {
  display: flex;
  margin-top: 24px;
  gap: 12px;
}

.pol p {
  font-weight: 500;
  font-size: 12px;
  line-height: 147%;
  color: #fff;
}

.pol p a {
  text-decoration: none;
  color: #fec34a;
}

.g-form {
  margin-top: 81px;
  padding: 0 20px;
}

.flex-11 {
  display: flex;
  gap: 18px;
}

.flex-11 > :first-child,
.flex-11 > :last-child {
  flex: 1;
}

/* g-form end */












/* rev start */

.rev {
  margin-top: 80px;
  padding: 0 20px;
}

.rev-cont {
  padding-bottom: 80px;
  border-bottom: 1.50px dashed #c3c6c0;
}

.rev-cont h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 38px;
}

.rev-cont-flex {
  overflow-x: hidden;
}

.rev-cont-flex img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

/* rev rev */









/* contacts start */

.contacts {
  margin-top: 81px;
  padding: 0 20px;
}

.contacts-cont h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
  margin-bottom: 39px;
}

.contacts-abs {
  box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
  background: #fff;
  position: absolute;
  top: 71px;
  left: 71px;
  padding: 18px 24px;
  border-radius: 8px;
  z-index: 2;
}

.contacts-abs div {
  display: flex;
  align-items: center;
  gap: 11px;
}

.contacts-abs a,
.contacts-abs p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #121212;
  text-decoration: none;
}

.contacts-abs > :not(:last-child) {
  margin-bottom: 24px;
}

.ling-g {
  color: #5aa02c!important;
}

/* contacts end */









/* form-bottom start */

.form-bottom-cont {
  display: flex;
  justify-content: space-between;
}

.form-bottom-cont h2 {
  flex: 1;
  font-weight: 700;
  font-size: 34px;
  color: #121212;
}

.form-bottom-cont > :last-child {
  flex: 2;
}

.form-bottom-cont form {
  display: flex;
  align-items: center;
  gap: 18px;
}

.form-bottom-cont form > :first-child {
  flex: 1;
}


.form-bottom-cont form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #121212;
  width: 100%;
}

.form-bottom-cont form > :first-child div {
  border: 1px solid #aeaeb2;
  border-radius: 8px;
  padding: 8px;

}

.form-bottom-cont form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #aeaeb2;
  opacity: 0.5;
}

.pol-2 p {
  color: #aeaeb2;
}

.form-bottom {
  margin: 81px 0;
  padding: 0 20px;
}

/* form-bottom end */






/* footer start */

footer {
  background: #121212;
  padding: 24px 20px;
}


.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.footer-cont > :first-child{
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-cont > :last-child{
  flex: 1;
}

.footer-cont p {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 11px;
  color: #fff;
}

.footer-cont a {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
}

.footer-cont > :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: flex-end;
}


@media screen and (max-width: 767px) {
  .footer-cont > :first-child {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 523px) {
  .footer-cont {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .footer-cont > :first-child {
    gap: 24px;
  }
}

/* footer end */








/* video start */

.video-cont {
  display: flex;
  align-items: center; 
  padding: 81px 0;
  border-bottom: 1.50px dashed #c3c6c0;
}

.video-cont > :first-child {
  flex: 1.8;
}

.video-cont > :last-child {
  flex: 1;
  box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  left: -15px;
}

.video-cont > :last-child p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #121212;
}

.video-cont > :last-child div {
  padding-bottom: 10px;
  border-bottom: 1.50px dashed #c3c6c0;
  margin-bottom: 10px;
}

.video-cont iframe {
  border-radius: 12px;
}

/* video end */








/* big slider start */


.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

.main-image, .main-image2 {
  position: relative;
  width: 100%;
}

.main-image img, .main-image2 img  {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.text-content-container {
  position: relative;
  width: 100%;
  height: auto; /* Закомментировано, чтобы высота определялась содержимым */
}

.text-content, .text-content2 {
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
  box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0.27);
  background: #fff;
  border-radius: 8px;
  margin-left: -15px;
}

.text-content.active, .text-content2.active {
  opacity: 1; /* Сделано видимым */
  position: relative; /* Возвращено в нормальный поток */
}

.text-content h2, .text-content2 h2 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #121212;
}

.text-content > :nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #5aa02c;
  margin-bottom: 8px;
}

.text-content > :nth-child(3), .text-content2 > :nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #121212;
  margin-bottom: 15px;
}

.table div {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
}

.table > :not(:last-child) {
  border-bottom: 1.50px dashed #c3c6c0;
}


.preview-images {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  gap: 20px;
}

.preview, .preview-1 {
  width: 100%;
  object-fit: cover;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  min-width: 215px;
}

.preview.active, .preview-1.active {
  opacity: 1;
}

.prev,
.next,
.prev2,
.next2 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 10;
  background: transparent;
}

.prev, .prev2 {
  left: 10px;
}

.next, .next2 {
  right: 25px;
}





.big-slider {
  display: flex;
  align-items: center;
}

.big-slider > :first-child {
  flex: 1.5;
}

.big-slider > :last-child {
  flex: 1;
}

.wrapper2 {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.slider-3 h3 {
  font-weight: 700;
  font-size: 18px;
  color: #121212;
  margin-bottom: 8px;
}

.slider-3 h2 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
}

.slider-3-cont, .g-form-p {
  padding-top: 80px;
  border-top: 1.50px dashed #c3c6c0;
  margin-top: 80px;
}

.slider-3-cont {
  margin-bottom: 38px;
}


.big-slider-buttons-1 button {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: #fec34a;
  padding: 12px;
  border-radius: 8px;
}

.big-slider-buttons-1 > :first-child {
  margin-bottom: 15px;
}

.big-slider-buttons-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 53px;
}


.preview-images-1 {
  flex: 1.7!important;
}

.preview-1 {
  max-width: 142px!important;
}

/* big slider end */





.flex-1 {
  display: flex;
}

.flex-1 > :first-child {
  flex: 1.5;
}

.flex-1 > :last-child {
  flex: 1;
}

.preview-1 {
  min-width: 224px;
}

.litebox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 171px;
}








/* header start */

.header-cont {
  position: relative;
}

.header-block {
  position: absolute;
  top: 75px;
  z-index: 2;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 28;
  align-items: center;
}

header {
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav li a {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-right > :first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-right > :first-child a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

.header-right > :first-child a span {
  font-size: 20px;
}

.header-right > :first-child p {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #c3c6c0;
}

.header-right button {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  background: #5AA02C;
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
}

/* header end */



.none-border {
  border: none;
}


@media screen and  (max-width: 1208px) {
  .nav {
    gap: 16px;
  }
}

@media screen and  (max-width: 1147px) {
  .nav li a {
    font-size: 13px;
}
}

@media screen and  (max-width: 1078px) {
  .present {
    right: 350px;
    max-width: 100px;
  }

  .hangar-flex {
    gap: 22px;
  
  }

  .hangar h1 {
    font-size: 113px;
  }

  .hangar h6 {
    font-size: 15px;
  }

  .hangar-flex p {
    font-size: 12px;
  }

  .hangar-form-cont h4 {
    font-size: 14px;
  }

  .header-right > :first-child a span {
    font-size: 15px;
  }

  .header-right button {
    padding: 6px 10px;
  }

}


@media screen and  (max-width: 1035px) {
  .nav li a span {
    display: none;
  }

  .header-right button {
    padding: 6px 16px;
  }

  .header-right > :first-child a span {
    font-size: 20px;
  }
}

.only-767 {
  display: none;
}

.hangar-flex-1 {
  display: none;
}

@media screen and  (max-width: 898px) {
  .present {
    right: 300px;
  }

  .hangar-flex {
    gap: 12px;
  }

  .hangar-flex-1 {
    display: flex;
    padding: 56px 20px 80px 20px;
    gap: 12px;
  }
  .hangar-flex-1 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #121212;
  }

  .hangar-flex {
    display: none;
  }

  .only-767 {
    display: block;
    max-width: 123px;
  }

  .present {
    display: none;
  }
}

@media screen and  (max-width: 767px) {
  .hangar h1 {
    font-size: 84px;
  }

  .hangar h6 {
    font-size: 16px;
    margin-bottom: 29px;
  }

  .hangar h6 > :nth-child(2) {
    display: none;
  }
}


.burger {
  display: none;
}

.cat-mob {
  display: none;
}

@media screen and  (max-width: 685px) {
  .hangar {
    background: url(./images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 20px 50px 20px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 91%, 50% 100%, 0 91%, 0 26%, 0 0);
  }

  .green {
    padding-top: 375px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 26%, 0 0);
  }

  .nav, .header-right button, .hangar-form-cont  {
    display: none;
  }

  .burger {
    display: block;
  }

  .hangar-cont {
    justify-content: center;
  }

  .only-767 {
    display: none;
  }

  .cat-mob {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    align-items: center;
    background: linear-gradient(90deg, #ffcd67 0%, #fdad3b 100%);
    border-radius: 8px;
    padding: 14px 24px;
    width: 100%;
    border: none;
    gap: 8px;
  }

  .hangar h1  {
    font-size: 34px;
    margin-bottom: 11px;
    text-align: center;
  }

  .hangar h6 {
    font-size: 14px;
    text-align: center;
  }

  .header-right {
    display: flex;
    gap: 30px;
  }

  .header-block {
    gap: 5px;
  }

  .header-right > :first-child a span {
    font-size: 17px;
  }

  .header-block {
    top: 15px;
  }

}

@media screen and  (max-width: 440px) {
  .hangar {
    padding: 100px 20px 50px 20px;
  }

  .green {
    padding-top: 315px;
  }
}


@media screen and  (max-width: 592px) {
  .hangar-flex-1 {
    flex-direction: column;
    gap: 42px;
  }
}

.projects {
  padding: 0 20px;
}

@media screen and  (max-width: 1280px) {
  .prev2, .next2 {
    display: none;
  }
}

@media screen and  (max-width: 1137px) {
  .preview-1 {
    min-width: 200px;
  }

  .text-content2 {
    padding: 0;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0);
    border-radius: 0;
    margin-left: 0px;
  }

  .big-slider {
    gap: 22px;
  }

  .big-slider-buttons-1 {
    padding-left: 22px;
  }

  .preview-images {
    gap: 13px;
  }

  .preview-images-1 {
    flex: 1.5 !important;
  }

  .preview-1 {
    min-width: 128px;
}
}

.pol-mob {
  display: none;
}

@media screen and (max-width: 984px) {
  .pol-desk {
    display: none;
  }

  .pol-mob {
    display: flex;
    margin-bottom: 18px;
    margin-top: 0;
  }

  .g-form-cont form {
    flex-direction: column;
}
}

@media screen and (max-width: 647px) {
  .g-form-cont {
    flex-direction: column;
    padding: 20px 31px 20px 27px;
  }
}

@media screen and (max-width: 522px) {
  .flex-11  {
    flex-direction: column;
  }

  .g-form-cont {
    gap: 24px;
}
}


.video {
  padding: 0 20px;
}

.video iframe {
  height: 450px;
}


@media screen and (max-width: 767px) {
  .video-cont > :last-child {
    flex: 1.5;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0);
    padding: 0;
    position: relative;
    left: 0px;
  }

  .video-cont {
    gap: 32px;
    align-items: flex-start;
  }

  .video iframe {
    height: 300px;
  }
}

@media screen and (max-width: 582px) {
  .video-cont {
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
  }

  .video-cont > :first-child,
  .video-cont > :last-child {
    flex: 1;
  }
}


.map {
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  border-radius: 8px;
}


@media screen and (max-width: 970px) {
  .contacts-abs {
    top: 21px;
    left: 21px;
}
}

.map iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  border-radius: 8px; 
  border: none;
}

.map-iframe-cont {
  padding-top: 50%;
}

@media screen and (max-width: 767px) {
  .contacts-abs {
    top: 0px;
    left: 0px;
    border-radius: 0;
    height: 100%;
  }

  .contacts-cont h2 {
    margin-bottom: 0;
  }

  .contacts-cont h2 {
    font-size: 26px;
  }

  .contacts-abs {
    padding: 28px 24px;
}
  
}


@media screen and (max-width: 700px) {
  .contacts-abs {
    position: static;
  }

  .map-iframe-cont {
    padding-top: 100%;
  }

  .map {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 985px) {
  .form-bottom-cont form {
    flex-direction: column;
    align-items: stretch;
  }

  .form-bottom-cont {
    gap: 53px;
  }

  .form-bottom-cont h2  {
    font-size: 26px;
  }
}

.form-bottom-cont > :last-child a {
  color: #5aa02c;
}


@media screen and (max-width: 648px) {
  .form-bottom-cont {
    flex-direction: column;
    gap: 24px;
  }

  .form-bottom-cont h2  {
    font-size: 26px;
  }
}

.slider-3-first {
  padding: 0 20px;
}



.main-video iframe {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  min-height: 366px;
}



@media screen and (max-width: 1350px) {
  .prev, .next {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .text-content {
    padding: 0px;
    box-shadow: 0 0 42px 0 rgba(47, 75, 101, 0);
    margin-left: 0;
  }
}


.text-content-container-mob {
  display: none;
}

.table2 div > :first-child {
  color: #5aa02c;
}


@media screen and (max-width: 679px) {
  .text-content-container-desk {
    display: none;
  }

  .text-content-container-mob {
    display: block;
    margin-top: 24px;
  }

  .main-video iframe {
    min-height: 266px;
  }

  .preview {
    min-width: 117px;
  }

  .preview-images {
    display: flex;
    overflow-x: auto;
    margin-top: 18px;
    gap: 10px;
  }

  .slider-3 h2 {
    font-size: 26px;
  }

  .slider-3-cont {
    margin-bottom: 24px;
  }
}


.g-text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.g-text > :first-child {
  font-weight: 700;
  font-size: 48px;
  color: #5aa02c;
}

.g-text > :last-child {
  font-weight: 700;
  font-size: 18px;
  color: #5aa02c;
}
















.main-image2 a {
  display: block;
  width: 100%;
  height: 413px; /* Adjust height as needed */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
}


@media screen and  (max-width: 1137px) {
  .main-image2 a {
    height: 370px; /* Adjust height as needed */
  }

  .litebox {
    max-width: 113px;
}
}



.text-content-container-mob-2 {
  display: none;
}


@media screen and  (max-width: 760px) {
  .text-content-container-desk-2 {
    display: none;
  }

  .text-content-container-mob-2 {
    display: block;
    margin-top: 32px;
  }

  .big-slider-buttons-1 {
    padding-left: 0;
  }

  .main-image2 a {
    height: 270px;
  }

  .preview-1 {
    min-width: 110px;
  }
}


.table3 div > :first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #bdbdbd;
}

.table3 div > :last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #121212;
}






/* mob-menu start */


/* Скрываем меню по умолчанию */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Затемненный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Контейнер меню */
.menu-content {
  background: #fff;
  padding: 15px 15px 40px 15px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Кнопка закрытия */
.close-menu {
  position: absolute;
  top: 27px;
  right: 12px;
  cursor: pointer;
  width: 24px;
}

/* Показываем меню */
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.mob-links a {
  text-decoration: none;
}

.mob-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mobile-menu-top {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}

.mobile-menu-top div a {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #121212;
  text-decoration: none;
}

.mobile-menu-top div a span {
  font-size: 17px;
}

.mobile-menu-top div p {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #6b7280;
}

.nav-mob a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #121212;
  text-decoration: none;
}

.nav-mob > :not(:last-child) {
  margin-bottom: 24px;
}

/* mob-menu end */




/* thank you start */


/* Скрываем попап по умолчанию */
.thank-you-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 90;
}

/* Окно с текстом */
.thank-you-content {
  background: #fff;
  padding: 49px 25px;
  border-radius: 24px;
  max-width: 672px;
  position: relative;
}

/* Показываем попап */
.thank-you-popup.active {
  opacity: 1;
  visibility: visible;
}

/* Кнопка закрытия */
.close-popup {
  position: absolute;
  top: 26px;
  right: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}


.thank-you-content h4 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
}

.thank-you-title {
  padding-bottom: 24px;
  border-bottom: 2px solid #5aa02c;
  max-width: 453px;
  margin-bottom: 24px;
}

.thank-you-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #121212;
  margin-bottom: 24px;
}

.thank-you-content p span {
  font-weight: 700;
}



.video-thank-you {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Автоматическое соотношение сторон */
  border-radius: 15px; /* Закругляем углы */
  overflow: hidden; /* Обрезаем углы */
  margin-bottom: 45px;
}

.video-thank-you iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px; /* Дублируем закругление */
}

.thank-you-content form {
  display: flex;
  gap: 18px;
}

.thank-you-content input {
  border: 1px solid #c3c6c0;
  border-radius: 8px;
  padding: 8px 12px;
  width: 217px;
}

.thank-you-content input,
.thank-you-content input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #c3c6c0;
}

.thank-you-content form button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fec34a;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  .thank-you-content {
    background: #fff;
    padding: 62px 25px 26px 25px;
    border-radius: 24px;
    max-width: 320px;
    position: relative;
  }

  .thank-you-content h4 {
    font-size: 18px;
  }

  .thank-you-content p {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .thank-you-title {
    padding-bottom: 18px;
    margin-bottom: 18px;
  }

  .video-thank-you {
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .video-thank-you iframe {
    border-radius: 8px;
  }

  .thank-you-content form {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .thank-you-content form input {
    width: 100%;
  }

  form button {
    padding: 12px;
  }

  .thank-you-content > :first-child img {
    width: 20px;
    height: 20px;
  }

}


button {
  cursor: pointer;
}

/* thank you end */





/* tel-popup start */


.popup {
  display: none; /* Скрываем попап по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-tel-content {
  background: #fff;
  padding: 58px 32px 57px 18px;
  border-radius: 24px;
  width: 718px;
  position: relative;
  display: flex;
  gap: 27px;
  align-items: center;
  
}

.popup-tel-content > :first-child {
  flex: 1;
}

.popup-tel-content > :last-child {
  flex: 2;
}

.close-tel-popup {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 20px;
  cursor: pointer;
}

.swiper-tel-cont {
  overflow: hidden;
  width: 433px;
}

.popup-tel-block h5 {
  font-weight: 700;
  font-size: 18px;
  color: #121212;
}

.popup-tel-block > :first-child {
  padding-bottom: 16px;
  border-bottom: 2px solid #5aa02c;
  max-width: 164px;
  margin-bottom: 16px;
}

.popup-tel-block p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #121212;
  margin-bottom: 16px;
}

.popup-tel-block form div {
  align-items: center;
  border: 1px solid #c3c6c0;
  border-radius: 8px;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.popup-tel-block form div img {
  width: 16px;
  height: 16px;
}

.popup-tel-block form input {
  border: none;
  outline: none;
  width: 100%;
}

.popup-tel-block form input,
.popup-tel-block form input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 132%;
  color: #c3c6c0;
}

.swiper-tel-cont .swiper-slide {
  max-width: 125px;
  overflow: hidden;
}

.swiper-tel-cont .swiper-slide p {
  font-weight: 700;
  font-size: 14px;
  line-height: 132%;
  color: #000;
  text-align: center;
  margin-top: 6px;
}




.swiper-tel-cont .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* По умолчанию все слайды скрыты */
}

.swiper-tel-cont .swiper-slide-active {
  opacity: 1; /* Центральный слайд полностью виден */
  transform: scale(1);
}

.swiper-tel-cont .swiper-slide-prev, 
.swiper-tel-cont .swiper-slide-next {
  opacity: 0.5; /* Боковые слайды полупрозрачны */
  transform: scale(0.85);
}

/* Дальние слайды полностью скрыты */
.swiper-tel-cont .swiper-slide-prev-prev, 
.swiper-tel-cont .swiper-slide-next-next {
  opacity: 0;
}

.next3, .prev3 {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Центрируем кнопки по вертикали */
  background: transparent;
  z-index: 100;
}


.next3 {
  right: 20px;
}

.prev3 {
  left: 0;
}


.next3 img, .prev3 img {
  width: 31px;
  height: 31px;
}



@media screen and (max-width: 737px) {
  .popup-tel-content {
    width: 320px;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .next3, .prev3 {
    display: none;
  }

  .swiper-tel-cont {
    width: 100%;
  }

  .swiper-tel-cont img {
    width: 100%;
  }

}


/* tel-popup end */



@media screen and (max-width: 767px) {
  .rev-cont {
    padding-bottom: 0px;
    border-bottom: none;
  }

  .g-form-p, .slider-3-cont {
    padding-top: 0px;
    border-top: none;
    margin-top: 80px;
  }

  .video-cont {
    padding: 0;
    border-bottom: none;
}
}


.rel {
  position: relative;
}

.pulse::before {
  content: "";
  position: absolute;
  width: 30px; /* Размер круга */
  height: 30px;
  background-color: rgba(0, 255, 0, 0.218); /* Полупрозрачный зелёный */
  border-radius: 50%;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: pulse 1.5s infinite ease-in-out;
}



@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
}


.present, .only-767 {
  animation: pulse-scale 1.5s infinite ease-in-out;
}



@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Немного увеличиваем */
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 500px) {
  .form-bottom {
    margin: 45px 0;
    padding: 0 10px;
  }

  .contacts {
    margin-top: 45px;
    padding: 0 10px;
  }

  .rev {
    margin-top: 45px;
    padding: 0 10px;
  }

  .video {
    padding: 0 10px;
    margin-top: 45px;
  }

  .g-form {
    margin-top: 45px;
    padding: 0 10px;
  }

  .g-form-p, .slider-3-cont {
    margin-top: 45px;
  }

  .slider-3-first {
    padding: 0 10px;
  }

  .employees {
    margin-top: 45px;
    padding: 0 10px !important;
  }
  .projects {
    padding: 0 10px;
  }

  .hangar-flex-1 {
    padding: 36px 10px 0px 10px;
  }
}





/* price popup start */

/* Скрываем попап по умолчанию */
.popup2 {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  justify-content: center;
  align-items: center;
  z-index: 100000000000;
}

/* Контент внутри попапа */
.popup-content2 {
  background: white;
  padding: 69px 30px 69px 26px;
  border-radius: 24px;
  position: relative;
  width: 436px;
}

/* Кнопка закрытия */
.close2 {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.close2 img {
  width: 12px;
  height: 12px;
}

.popup-content2 h5 {
  font-weight: 700;
  font-size: 34px;
  color: #121212;
}

.bor {
  padding-bottom: 24px;
  border-bottom: 2px solid #5aa02c;
  margin-bottom: 24px;
}

.popup-content2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #121212;
  margin-bottom: 24px;
}

.pop-cont {
  display: flex;
  gap: 30px;
}

.pop-cont a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 147%;
  color: #000;
  text-decoration: none;
}

.popup-content2 form div {
  border: 1px solid #c3c6c0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 207px;
  margin-bottom: 24px;
}

.popup-content2 form input {
  border: none;
  outline: none;
}

.popup-content2 form input,
.popup-content2 form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #c3c6c0;
}

.popup-content2 form button {
  background: #fec34a;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}



@media screen and (max-width: 767px) {
  .popup-content2 h5 {
    font-size: 18px;
  }

  .popup-content2 h5 br {
    display: none;
  }

  .popup-content2 {
    background: white;
    padding: 39px 30px 39px 26px;
  }

  .popup-content2 p {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .popup-content2 form div {
    margin-bottom: 18px;
  }
}


@media screen and (max-width: 460px) {
  .popup-content2 {
    padding: 47px 21px 47px 21px;
    width: 320px;
  }

  .popup-content2 form button {
    padding: 13px 0;
    font-size: 12px;
    width: 100%;
    justify-content: center;
  }

  .popup-content2 form div {
    width: 100%;
  }
}



button {
  position: relative;
  overflow: hidden; /* Чтобы эффект не выходил за границы кнопки */
}

/* Создаём анимированный блик */
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%; /* Начальная позиция за пределами кнопки */
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) no-repeat;
  background-size: 50% 100%;
  transform: skewX(-30deg); /* Угол наклона блика */
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}




/* price popup end */


